<mat-toolbar>
  <button mat-raised-button color="primary" routerLink="organiser">Home</button>
  <span class="spacer"></span>
  <button mat-raised-button color="primary" *ngIf="!accountService.checkAuthenticated()" routerLink="account/login">Login</button>
  <span class="spacer-mini"></span>
  <button mat-raised-button color="primary" *ngIf="!accountService.checkAuthenticated()" routerLink="account/register">Register</button>
  <button mat-raised-button color="primary" *ngIf="accountService.checkAuthenticated()" (click)="accountService.logout()">Logout</button>

</mat-toolbar>

<router-outlet></router-outlet>

