.organiser-position{
  position: relative;
  height: 376px;
  left: 50px;
  top: 70px;
}

.organiser-show-hide-options{
  position: fixed;
  top: 70px;
  left: 10px;
}

.organiser-show-hide-options button{
  width: 120px;
  text-align: center;
  opacity: 0.8;
}
